body {
    font-family: Arial, sans-serif;
    background: linear-gradient( hsl(225, 69%, 59%));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.list {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.input-section {
    display: flex;
    gap: 10px;
}
input {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    padding: 8px 12px;
    border: none;
    background: #3da185ba;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #1decd7;
}
ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
li {
    background: #f8f9fc;
    padding: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
li.completed {
    text-decoration: line-through;
    color: gray;
}
.delete-btn {
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}